@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Not Found";
}
<h1>Requested resource not found.</h1>

<h2 class="text-danger">We couldn't find what you were looking for...</h2>
<h3 class="text-danger">This may be caused by unavailability of internet or search for invalid data.</h3>
<h2 class="text-danger">Contact System administrator for more help.</h2>

