@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    <b>
        We provide solutions for Doctors and Patients to move away from pen, paper, excel sheets and get online.</br>
        This project is an attempt to bridge the communication gap between doctors, patients and chemists.</br>
    </b>
</p>
