@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <p><b>Developed by</b></p>
    <ul>
        <li>Ritesh Ranjan           1CR10CS074</li>
        <li>Bedanta Bikash Borah    1CR10CS023</li>
        <li>Sanjeev Kumar Shetty E  1CR10CS086</li>
        <li>Ravitej T H             1CR10CS071</li>
    </ul><br />

    <abbr title="Phone">P:</abbr>
    8861089200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:doctorlive@gmail.com">doctorlive@gmail.com</a><br />
</address>